:root {
    --text-color: #c9c9c9;
    --body-background: #211f1e;
    --primary: #00de9f;
    --primary: oklch(80% 0.205 164.09);
    --primary-light: #5e736a;
    --outlined: #191816;
    --grey-outlined: #404040;
    --color-quoted: #44413b;
    --field-outlined: #777;
    --field-background: var(--body-background);
    --strong-color: #fff;
    --heading-text-color: #fff;
    --footer-text-color: var(--field-outlined);
    --card-border-color: #344941;
    --portrait-border-color: var(--secondary);
    --primary-button: #007c52
}

* {
    margin: 0;
    line-height: calc(1em + 0.5rem);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cabinet Grotesk', sans-serif;
    background-color: var(--body-background);
    color: var(--text-color);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none;
}

h1 {
    color: var(--strong-color);
    text-decoration: underline;
}

a {
    color: var(--primary);
    text-decoration: underline;
    text-decoration-color: var(--field-outlined);
    text-decoration-thickness: 0.1rem;
    cursor: pointer;
}

strong {
    color: var(--strong-color);
}

button {
    display: inline-block;
    background: var(--primary-button);
    border: none;
    padding: 8px;
    cursor: pointer;
    color: white;
}